---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.images }}/header.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="page-heading">
                  <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                  <span class="subheading">A book by {{ page.author }}</span>
                  <span class="credits">credits: {{ page.credits }}</span>
              </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="post-heading">
                <h6>{{ page.subtitle }}</h6>
                <h2>{{ page.title }}</h2>
                <span class="meta">By Ernst Naezer on {{ page.date | date: "%B %-d, %Y" }}, reading time is around <span class="eta"></span>.</span>  
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="post-content">
				          {{ content }}
              </div>
            </div>
        </div>
    </div>
</article>
